* {
  padding: 0;
  margin: 0;
  /* background-color: rgb(24, 24, 24); */
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-image: url("./media/background.png"); */
  background-size: cover; /* or 'contain' based on your preference */
  background-color: rgb(8, 8, 8);
}

h2 {
  color: rgb(181, 97, 97);
  font-size: 24px;
}

.btns-container {
  width: 560px;
  height: 55%;
  padding: 2vh;
  padding-top: 35px;
  /* border: 1px rgb(0, 0, 0) solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons */
  background-color: #171717;
  background-color: rgb(11, 11, 11);
}

button {
  border-radius: 20px;
  width: 120px;
  height: 45px;
  white-space: nowrap;
  background-color: #494949;
  color: #2c2c2c;
  margin: 2px;
  /* Add transition for smooth color change */
  transition: color 0.3s ease;
}

.speaker-container {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: none;
}

.speaker {
  border: 1px red solid;
  padding: 1vh;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 11, 11);
  padding-top: 30px;
  width: 615px;
}

.audio-controls {
  color: white;
  background-color: rgb(11, 11, 11);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 600px;
  gap: 6px;
}

.audio-controls button {
  background-color: pink;
}

.audio-controls p {
  color:rgb(181, 97, 97);
}

.about-container {
  background-color: rgb(8, 8, 8);
}

.audio-about {
  background-color: rgb(8, 8, 8);
  color: rgb(181, 97, 97);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 615px;

  padding: 2.5vh;
}

.audio-about p {
  font-size: 16px;
  padding-top: 10px;
}

.center-console {
  height: 98vh;
  width: 615px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 8, 8);
}

.collapse-toggle {
  background-color: #101010;
  border-color: rgb(181, 97, 97) ;
  color: rgb(181, 97, 97);
  margin: 25px;
}


@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(18, 18, 18);
    overflow: hidden;
  }

  .center-console {
    width: 100%;
  }

  .speaker-container {
    display: none;
  }
}

/* 
@media screen and (max-width: 500px) {
  * {
    background-color: black;
  }


button {
  width: 150px;
}

.btns-container {
flex-direction: column;
justify-content: center;
align-items: center;
height:62vh;
width:100vw;
padding:0px;
}

.audio-about {
 padding: 2vh;
 padding-top:0px;
 border: none;
 z-index: 2;
 width: 100vw;
}

.center-console {
  height: 100vh;
  padding-top:0px;
  padding-bottom: 10px;
}

.container {
  overflow-y: hidden;
  overflow-x: hidden;
}

.video-container {
  padding-top:0px;
}

iframe {
  height: 90%;
  padding-top: 20px;
}

.audio-controls {
  padding-top: 10px;
}

} */
@media screen and (max-width: 500px) {
  * {
    background-color: black;
  }

  .btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    height: 99vh;
    width: 100vw;
    padding: 0px;

    gap: 0;
    overflow: scroll;
    /* gap: 10px; */
  }

   .btns-container button {
    width: 100vw;
    height: 180px;
    padding: 0px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0px;
    border-color:#494949
  }
  button {
    border-color: #171717;
  }

  /* .audio-about {
display: none;
  } */

  .center-console {
    height: 100vh;
    padding-top: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
  }

  .btns-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .container {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .video-container {
    display: none;
  }

  .audio-controls {
    display: none;
  }

  .audio-about {
    width: 100vw;
    /* padding-right: 10px;
    padding-left: 10px; */
  }
}
